!.gitignore
*.gem
*.rbc
*.sw[a-p]
*.tmproj*
.tmproject
*.un~
*~
,Splotlight-V100
.Trashes
._*
.bundle
.config
.directory
.elc
.emacs.desktop
.idea
.redcar
.rvmrc
.yardoc
Desktop.ini
Gemfile.lock
Icon?
InstalledFIles
Session.vim
\#*\#
_yardoc
auto-save-list
coverage
/doc/
lib/bundler/man
pkg
pkg/*
rdoc
spec/reports
spec/sandbox
test/tmp
est/version_tmp
tmp
tmtags
tramp
.rbx
b/
